<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

<bean id="performanceTraceAdvice" class="tommy.spring.common.ProfilingAdvice"></bean>
<aop:config>
	<aop:aspect id="traceAspect1" ref="performanceTraceAdvice">
		<aop:pointcut id="publicMethod" expression="execution(public * tommy.spring.board.service..*(..))" />
		<aop:around pointcut-ref="publicMethod" method="trace" />
	</aop:aspect>
	<aop:aspect id="traceAspect2" ref="performanceTraceAdvice">
		<aop:around pointcut="execution(public * tommy.spring.member.service..*(..))" method="trace" />
	</aop:aspect>
</aop:config>
<bean id="writeArticleService" class="tommy.spring.board.service.WriteArticleServiceImpl">
	<constructor-arg><ref bean="articleDAO" /></constructor-arg>
</bean>
<bean id="articleDAO" class="tommy.spring.board.dao.OracleArticleDAO"></bean>
<bean id="memberService" class="tommy.spring.member.service.MemberServiceImpl"></bean>

</beans>
