<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

<aop:aspectj-autoproxy />
<bean id="traceAspect" class="tommy.spring.common.UpdateMemberInfoTraceAspect" />
<bean id="cacheAspect" class="tommy.spring.common.ArticleCacheAspect" />
<bean id="loggingAspect" class="tommy.spring.common.LoggingAspect" />
<bean id="readArticleService" class="tommy.spring.board.service.ReadArticleServiceImpl" />
<bean id="memberService" class="tommy.spring.member.service.MemberServiceImpl" />
</beans>
